* {
    padding: 0px;
    margin: 0px;
}

.body{
	padding: 10px;
	margin: 5px;
	background-color:brown;
}

/* nav {
    display: flex;
    display: inline-block;
    align-items: right;
    align-content: flex-end;
    width: 50%;
    border: 4px;
    background-color: white;
    justify-content: flex-end;
} */

nav li {
    display: inline-block;
    align-content: flex-end;
    padding: 5px;
    margin: 1px;
    background-color: white;
    align-content: center;
    text-align: center;
    color: blue;
    width: 60px;
    
}
nav li:active{
	color: green;
	background-color: blue;
}

nav li:hover{
	
	cursor: pointer;
	color: white;
	background-color: teal;
	
}





@media print {
  body * {
    visibility: hidden;
  }
  #print, h1,h2, #print * {
    visibility: visible;
  }
  #print {
    position: absolute;
    left: 0;
    top: 05%;
  }
  
  .b1, .sr-only, #prev, #b1, #b2, #maxRows {
  
  visibility:hidden;
  
  }
  .b3, .sr-only{
  
  visibility:hidden;
  
  }
  
  #myInput, #action, #action1, #action2, #action3  {
  
  visibility:hidden;
  
  }
  
  nav li{
  display: none;
  }
  
  .b4{
  position: absolute;
  top: 5%;
  
  }
  .b5{
  background-color: black;
  }

/* #searchForm {
	
    float: center;
    height: 20px;
    width: 20%;
} */

/* #input {
	display: flex;
    align-content: flex-end;
    float: right;
    height: 10px;
    width: 70%;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 16px;
    margin: 5px;
} */

/* #navsub {
	display: flex;
    float: right;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 0px;
    padding: 10px;
} */

/* #firstHeader {
    display: flex;
    float: left;
    background-color: yellow;
    height: 500%;
}

#logo {
    float: left;
    background-size: contain;
    height: 100px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 0px;
    margin-right: 0px;
}

#log {
    padding-top: px;
    display: ;
    float: right;
    padding-left: 50px;
    padding: 5px;
}

#sect1 {
    display: flex;
    background-color: blue;
    padding: 5px;
    display: inline-flex;
    align-content: space-between;
    margin: 5px;
    clear: both;
}



#mainFooter {
    margin: 2px solid black;
    background-color: red;
    height: 90px;
    margin-top: 5px;
    width:50%;
    text-align: center;
    padding:10px;
} */

.collapsible {
    background-color: rgb(145, 125, 157);
    color: rgb(201, 181, 152);
    cursor: pointer;
    padding: 2px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 12px;
}

.active,
.collapsible:hover {
    background-color: rgb(47, 47, 167);
}

.content {
    padding: 18px;
    display: none;
    overflow: hidden;
    background-color: whitesmoke;
}
/* .aside, .article{
	padding: 10px;
} */

/* .article:hover{
	background-color: blue;
	color: white;
} */

.td{
	padding: .5em 2em;
	border-radius: 5em;
}
/* nav li:hover{
	background-color: rgb(214, 231, 236); 
	cursor: pointer;
	
} */
}