@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
* {
    margin: 0px;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    /*background-color: rgb(120, 150, 142);*/
    background-color: #408080;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 350px;
    width: 100%;
    background-color: #ffff80;
   /* background-color: broken-white;*/
    padding: 25px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px 1px rgb(17, 114, 72);
}

.wrapper h3 {
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: solid black;
}

.form {
    margin: 10px;
}

.wrapper .form input[type="text"],
.wrapper textarea {
    width: 100%;
    border: 1px solid turquoise;
    padding: 10px;
}

.wrapper textarea {
    height: 100px;
    resize: none;
}

.wrapper #sub input[type="submit"] {
    border: 0px;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background-color: rgb(152, 197, 152);
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}

.wrapper #error_message {
    margin-bottom: 20px;
    padding: 0px;
    background-color: wheat;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}