.modal {
    overflow-y: auto;
}

.modal-open {
    overflow: auto;
}

.modal-open[style] {
    padding-right: 0px !important;
}

body.modal-open-noscroll {
    padding-right: 0!important;
    overflow: hidden;
}

.modal-open-noscroll .navbar-default,
.modal-open .navbar-default {
    padding-right: 0!important;
}

body {
    padding-right: 0px !important;
    margin-right: 0px !important;
}